/*Шрифт:*/
/*400 - Regular*/
/*500 - Medium*/
/*700 - Bold*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /*ссылка - без подчеркивания*/
}

body {
    background-color: #849d8f; /* фон для всей страницы */
}

.visually-hidden {
    /* Удаляем элемент из потока документа */
    position: absolute;
    /* Временное решение для неверно произносимого, размазанного текста */
    white-space: nowrap;
    /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    width: 1px;
    height: 1px;
    /* Скрываем вылезающий за границы контент */
    overflow: hidden;
    /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
    border: 0;
    padding: 0;
    /* Вырезаем ту часть контента, которая должна отображаться. */
    /* Устаревшее свойство clip для старых браузеров */
    clip: rect(0 0 0 0);
    /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
    clip-path: inset(50%);
    /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
    margin: -1px;
}

.content-wrapper { /* центрирует */
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

/*-------------------------*/
/* header */
/*---------------------------*/

.page-navigation {
    display: flex;
}

.site-navigation {
    margin-top: 21px;
    margin-left: 22px;

    display: flex; /*чтобы пункты меню друг за другом в строку выстроились*/
    list-style: none; /*убрали маркер у списка (точечку)*/
    flex-wrap: wrap; /* если пунктов меню будет больше, чем влезает - чтобы перенеслись на другую строчку*/

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}

.site-navigation a {
    color: #ffffff; /*ссылки не наследуют цвет от текста, им отдельно задается цвет*/
}

.site-navigation-delivery-item {
    margin-left: 30px;
}

.site-navigation-about-item {
    margin-left: 28px;
}

.user-navigation {
    margin-top: 22px;
    margin-left: 444px;

    display: flex; /*чтобы пункты меню друг за другом в строку выстроились*/
    list-style: none; /*убрали маркер у списка (точечку)*/
    flex-wrap: wrap; /* если пунктов меню будет больше, чем влезает - чтобы перенеслись на другую строчку*/

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}

.user-navigation a {
    color: #ffffff; /*ссылки не наследуют цвет от текста, им отдельно задается цвет*/
}

.user-navigation-basket-item {
    margin-left: 70px;
}

.work-hours {
    margin-top: -5px;
    margin-left: 995px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
}

.phone-number {
    margin-top: 5px;
    margin-left: 980px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

/*-------------------------*/
/* слайдер */
/*---------------------------*/

.site-wrapper {
    background-color: #849d8f;

    /*8996a6*/
    /*9d8b84*/

    /*background-image: url("../img/slide-1.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: top center;*/
}

.page-main-slider {
    position: relative;
    padding-top: 275px;
    text-align: center;
    /*border: 1px solid red;*/
}

.slider-controls {
    position: absolute;
    bottom: 18px;
    left: 0;
    z-index: 20;
}

.slider-controls-label {
    display: inline-block; /* чтобы элемент воспринимал размеры */
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    margin-right: 5px;

    border: 2px solid #ffffff;
    border-radius: 50%; /* окружность */

    cursor: pointer; /* указатель - рука */

    /*background-color: #ededed;*/
    /*background-image: url("../img/radio-off.svg");*/
    /*background-size: cover; !* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. *!*/
}

#slider-selector-button1:checked ~ .site-wrapper label[for="slider-selector-button1"],
#slider-selector-button2:checked ~ .site-wrapper label[for="slider-selector-button2"],
#slider-selector-button3:checked ~ .site-wrapper label[for="slider-selector-button3"] {
    /* для тильды нужно, чтобы теги имели одного родителя поэтому используется .slider-controls */

    background-color: #ffffff; /* это для нажатой радио-баттон */

    /*background-image: url("../img/radio-on.svg");*/
    /*background-size: cover; !* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. *!*/
}

#slider-selector-button1:not(:checked) ~ .site-wrapper label[for="slider-selector-button1"]:hover,
#slider-selector-button2:not(:checked) ~ .site-wrapper label[for="slider-selector-button2"]:hover,
#slider-selector-button3:not(:checked) ~ .site-wrapper label[for="slider-selector-button3"]:hover {

    background-color: #b2c1b7; /* при наведении фон внутри кружка немного меняется */
}

.slide {
    display: none; /* по-умолчанию слайды выключены */
}

#slider-selector-button1:checked ~ .site-wrapper .slide:nth-child(1) {
    /* для тильды ~ нужно, чтобы теги имели одного родителя поэтому для #slider-selector-button1 используется .site-wrapper */
    display: block; /* включаю показ слайда № 1 если радио-кнопка1 нажата */
}

#slider-selector-button2:checked ~ .site-wrapper .slide:nth-child(2) {
    /* для тильды ~ нужно, чтобы теги имели одного родителя поэтому для #slider-selector-button1 используется .site-wrapper */
    display: block; /* включаю показ слайда № 2 если радио-кнопка2 нажата */
}

#slider-selector-button3:checked ~ .site-wrapper .slide:nth-child(3) {
    /* для тильды ~ нужно, чтобы теги имели одного родителя поэтому для #slider-selector-button1 используется .site-wrapper */
    display: block; /* включаю показ слайда № 3 если радио-кнопка3 нажата */
}

#slider-selector-button1:checked ~ .site-wrapper {
    /* для тильды ~ нужно, чтобы теги имели одного родителя поэтому для #slider-selector-button1 используется .site-wrapper */
    background-color: #849d8f; /* включаю фон № 1 если радио-кнопка1 нажата */
    background-image: url("../img/background-slide1.png");
    background-repeat: no-repeat;
    background-position: center -10px; /* подогнал через PerfectPixel */
    transition: background-image 0.5s ease, background-color 0.5s ease; /* анимация 0.5 секунды*/
}

#slider-selector-button2:checked ~ .site-wrapper {
    /* для тильды ~ нужно, чтобы теги имели одного родителя поэтому для #slider-selector-button1 используется .site-wrapper */
    background-color: #8996a6; /* включаю фон № 2 если радио-кнопка1 нажата */
    background-image: url("../img/background-slide2.png");
    background-repeat: no-repeat;
    background-position: center -10px; /* подогнал через PerfectPixel */
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

#slider-selector-button3:checked ~ .site-wrapper {
    /* для тильды ~ нужно, чтобы теги имели одного родителя поэтому для #slider-selector-button1 используется .site-wrapper */
    background-color: #9d8b84; /* включаю фон № 3 если радио-кнопка1 нажата */
    background-image: url("../img/background-slide3.png");
    background-repeat: no-repeat;
    background-position: center -10px; /* подогнал через PerfectPixel */
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slide-title {
    width: 700px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;

    margin-left: auto;
    margin-right: auto;
}

.slide-button {
    display: inline-block;
    box-sizing: border-box;
    width: 278px;
    height: 63px;

    margin-top: 30px;
    padding-top: 8px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff;

    text-align: center;
    text-decoration: none; /*ссылка - без подчеркивания*/
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76); /* тень для текста*/

    background: #f26843;
    background:  -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(172, 16, 0, 0.64);
}

.slide-button:hover {
    background:  -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);

    box-shadow: 0 4px 4px rgba(172, 16, 0, 1);
}

.slide-button:active {
    background:  -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);

    box-shadow:   0 4px 4px rgba(172, 16, 0, 1);
}

/*для кешированной загрузки изображений*/
.cashe1 {
    background-image: url("../img/background-slide2.png");
}

.cashe2 {
    background-image: url("../img/background-slide3.png");
}

/*--- окончание слайдера ---*/

/*-------------------------*/
/* подарки */
/*---------------------------*/

.gifts {
    margin-top: 42px;
}

.gifts-list {
    display: flex;
    list-style: none; /*убрали маркер у списка (точечку)*/
}

.gift {
    box-sizing: border-box;
    width: 560px;
    height: 229px;
    padding: 16px 17px;
}

.gift:nth-child(1) {
    background-image: url("../img/raspberry.png");
    background-repeat: no-repeat;
    margin-right: 26px;
}

.gift:nth-child(2) {
    background-image: url("../img/chocolate.png");
    background-repeat: no-repeat;
}


.gift-title {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;

    margin-bottom: 16px;
}

.gift-description {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin-left: 2px;
}

.gift-button {
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    height: 46px;

    margin-top: 43px;
    margin-left: 358px;
    padding-top: 10px;

    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    text-align: center;
    text-decoration: none; /*ссылка - без подчеркивания*/

    background: #f26843;
    background:  -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);

    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(172, 16, 0, 0.64);
}
.gift-big-button {
    width: 189px;
    height: 45px;
    margin-left: 332px;
}

.button {
    cursor: pointer; /* при наведении рука с пальцем в качестве курсора, а не стрелочка*/
}

